doc/Documento de Análisis/1er entregable/1er Informe de seguimiento.docx
doc/Documento de Análisis/1er entregable/2.0 - Primer entregable - Gestión de la Configuración del Software.docx
src/views/partials/header.hbs
src/views/prenda/polos.hbs
src/views/usuario/perfil.hbs