<div class="container-fluid register">
    <div class="row align-items-center justify-content-center">
        <div class="offset-2 col-8">
            <div class="card my-5">
                <h3 class="text-center">Recuperar contraseña</h3>
                <form class="my-1" action="/registro" method="POST">
                    <div class="form-row align-items-center justify-content-around">

                        <div class="col-10 col-md-10 form-group mb-4">
                            <label for="email">Ingresar correo:</label>
                            <input type="email" class="form-control py-2" id="email" placeholder="INGRESE SU CORREO ELECTRÓNICO">
                        </div>

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-principal mb-1 col-md-4 col-7 py-2 my-3">Recuperar</button>
                            <div class="text-center mb-1">
                                <p>Tu Contraseña A Sido Enviada Al Correo</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>