<div class="container-fluid password">
    <div class="row">
        <div class="offset-3 col-6">
                <h3 class="text-center">Recuperar contraseña</h3>
                <p class="text-center">Ingresar Código enviado al Correo</p>
                <form class="my-1" action="/registro" method="POST">
                    <div class="form-row align-items-center justify-content-around">
                        <div class="col-12">
                            <div class="card">
                                <div class="row justify-content-center">

                                    <div class="col-2">
                                        <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">1</button>
                                    </div>

                                    <div class="col-2">
                                        <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">2</button>
                                    </div>

                                    <div class="col-2">
                                        <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">3</button>
                                    </div>
                                </div>

                            <div class="row justify-content-center">

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">4</button>
                                </div>

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">5</button>
                                </div>

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">6</button>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">7</button>
                                </div>

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">8</button>
                                </div>

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">9</button>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-2">
                                    <button type="submit" class="btn-code mb-1 col-md-6 col-2 py-2 my-3" style="background-color: #cccbcb; border-radius: 50px; border:0rem;">0</button>
                                </div>
                            </div>

                            </div>
                        </div>

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-principal mb-1 col-md-10 col-7 py-2 my-3">VALIDAR</button>
                            <div class="text-center mb-1">
                                <p><a href="/ingreso">Iniciar Sesión</a></p>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>