<section class="container-fluid p-0 front-page mb-5">
    <img src="images/carousel-1/foto_portada.jpg" alt="Ofertas">
</section>

<section class="container-fluid p-0 mb-5">
    {{!-- autogenered carousel --}}
    <div class="carousel-1">
        <img class="mx-2" src="images/carousel-1/Polos.png" alt="Polos">
        <img class="mx-2" src="images/carousel-1/Faldas.png" alt="Faldas">
        <img class="mx-2" src="images/carousel-1/Jeans.png" alt="Jeans">
        <img class="mx-2" src="images/carousel-1/Chompas.png" alt="Chompas">
        <img class="mx-2" src="images/carousel-1/Chompas.png" alt="Chompas">
    </div>
</section>


{{!-- Bootstrap implementation

<section class="container-fluid p-0 mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner carousel-1">
            <img src="images/carousel-1/Polos.png" alt="Polos">
            <img src="images/carousel-1/Faldas.png" alt="Faldas">
            <img src="images/carousel-1/Jeans.png" alt="Jeans">
            <img src="images/carousel-1/Chompas.png" alt="Chompas">
            <img src="images/carousel-1/Chompas.png" alt="Chompas">
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section> --}}