<section class="container-fluid p-0 front-page mb-5">
    <img src="images/carousel-1/foto_portada.jpg" alt="Ofertas">
</section>

<section class="container-fluid p-0 mb-5">
    {{!-- autogenered carousel --}}
    <div class="carousel-1">
        <img class="mx-2" src="images/carousel-1/Polos.png" alt="Polos">
        <img class="mx-2" src="images/carousel-1/Faldas.png" alt="Faldas">
        <img class="mx-2" src="images/carousel-1/Jeans.png" alt="Jeans">
        <img class="mx-2" src="images/carousel-1/Chompas.png" alt="Chompas">
        <img class="mx-2" src="images/carousel-1/Chompas.png" alt="Chompas">
    </div>
</section>

<section class="container-fluid text-center offers">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h2>Tenemos los mejores precios</h2>
            </div>
            <div class="col-12 col-md-6">
                <img src="images/offers/ofertas.png" alt="Ofertas">
            </div>
        </div>
    </div>
</section>