<section class="container-fluid p-0 front-page mb-5">
    <img src="images/carousel-1/foto_portada.jpg" alt="Ofertas">
</section>

<section class="container-fluid p-0 mb-5">
    <div class="row text-center justify-content-center m-0">
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/carousel-1/Polos.png" alt="Polos">
            <div class="info-text">
                <p>Polos</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/carousel-1/Faldas.png" alt="Faldas">
            <div class="info-text">
                <p>Faldas</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/carousel-1/Jeans.png" alt="Jeans">
            <div class="info-text">
                <p>Jeans</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/carousel-1/Chompas.png" alt="Chompas">
            <div class="info-text">
                <p>Chompas</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/index/Vestidos.png" alt="Vestidos">
            <div class="info-text">
            <p>Vestidos</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/index/Blusas.png" alt="Blusas">
            <div class="info-text">
                <p>Blusas</p>
            </div>
        </div>
        <div class="col-auto info-background">
            <img class="mx-2 my-2" src="images/index/Casacas.png" alt="Casacas">
            <div class="info-text">
                <p>Casacas</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center offers mb-5">
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 my-3">
                <h2>¡Tenemos los mejores precios!</h2>
            </div>
            <div class="col-auto col-md-6">
                <img class="img-fluid" src="images/offers/ofertas.png" alt="Ofertas">
            </div>
            <div class="col-auto col-md-6">
                <img class="img-fluid mb-2" src="images/index/Rectangle 10.png" alt="Ofertas">
                <img class="img-fluid mt-2" src="images/index/Rectangle 9.png" alt="Ofertas">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="info-background">
                <img class="img-fluid" src="images/index/publicidad inferior.png" alt="Oferta del dia">
                <div class="info-ofert">
                    <p>¡Las mejores prendas a tu alcance!</p>
                    <p class="text-bold">Desde S/.18</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center shop mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h2>¡Encuentra la prenda de tu preferencia!</h2>
            </div>
        </div>
        <section class="my-5">
            <h3>Chompas</h3>
            {{!-- autogenered carousel --}}
            <div class="carousel-principal my-3">
                <img class="mx-2" src="images/index/Ropa1.png" alt="">
                <img class="mx-2" src="images/index/Ropa2.png" alt="">
                <img class="mx-2" src="images/index/Ropa3.png" alt="">
                <img class="mx-2" src="images/index/Ropa4.png" alt="">
                <img class="mx-2" src="images/index/Ropa5.png" alt="">
            </div>
            <button class="btn btn-principal col-2">Ver más</button>
        </section>
        <section class="my-5">
            <h3>Polos</h3>
            {{!-- autogenered carousel --}}
            <div class="carousel-principal my-3">
                <img class="mx-2" src="images/index/Ropa1.png" alt="">
                <img class="mx-2" src="images/index/Ropa2.png" alt="">
                <img class="mx-2" src="images/index/Ropa3.png" alt="">
                <img class="mx-2" src="images/index/Ropa4.png" alt="">
                <img class="mx-2" src="images/index/Ropa5.png" alt="">
            </div>
            <button class="btn btn-principal col-2">Ver más</button>
        </section>
        <section class="my-5">
            <h3>Jeans</h3>
            {{!-- autogenered carousel --}}
            <div class="carousel-principal my-3">
                <img class="mx-2" src="images/index/Ropa1.png" alt="">
                <img class="mx-2" src="images/index/Ropa2.png" alt="">
                <img class="mx-2" src="images/index/Ropa3.png" alt="">
                <img class="mx-2" src="images/index/Ropa4.png" alt="">
                <img class="mx-2" src="images/index/Ropa5.png" alt="">
            </div>
            <button class="btn btn-principal col-2">Ver más</button>
        </section>
    </div>
</section>

