$font-principal: 'Poppins';
$background-principal: linear-gradient(90deg, #E5C1DF 0%, #ADDCF2 100%);

*{
    padding: 0;
    margin: 0;
}


.btn-principal{
    background: $background-principal;
    color:white;
    border-radius: 30px;
    &:hover{
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
        transform: scale(1.2);
        transition: transform 500ms;
    }
}

.navbar{
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    &-title{
        font-family: $font-principal;
        font-size: 28px;
    }
}

.login{
    background: $background-principal;
    .row{
        min-height: 100vh;
        h2{
            margin: 2rem 0rem;
            font-weight: bold;
        }
        h3{
            margin: 2rem 0rem;
            font-style: italic;   
        }
    }
}

.front-page{
    img{
        min-height: 100vh;
        object-fit: cover;
        width: 100%;
    }
}

.carousel-1{
    button{
        display: none;
    }
}

.card{
    &-login{
        background-color: #FAFAFA;
        border-radius: 30px;
        width: 100%;
        .btn{
            padding: 0.75rem 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }
        p{
            color: #979595;
            font-style: italic;
        }
        a{
            color: #979595;
            font-style: italic;
            text-decoration: underline;
        }
    }
}

.input-group{
    &-text{
        border-radius: 30px;
        background-color: white;
    }
    input{
        background: linear-gradient(90deg, rgba(229, 193, 223, 0.1) 0%, rgba(173, 220, 242, 0.1) 100%);
        border-radius: 30px;
        color: #9A999E;
        height: 46px;
    }
}

.offers{
    min-height: 100vh;

}