<div class="container-fluid-px-0 py-5">
    <div class="row w-100 p-0 justify-content-center">
        <div class="col-12 col-md-2">
            <form method="POST" action="" class="filter">
                <ul class="list-group mx-md-3">

                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="">
                        </div>

                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="">
                        </div>

                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="">
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="col-12 col-md-10 d-flex">
            <div class="row">
                <div class="col">
                    <div class="card card-shop mx-2">
                        <img  id="polo_venta" src="images/prendas/polos1.png" alt="">
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <h2>HAWAII</h2>
                    <h5>02 reseñas |</h5>
                    <h4>Oferta          23.00</h4>
                    <div class="card" style="align-items: center;">
                        <p>ofertas disponibles : 2</p>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-3">
                            <h5>Color:</h5>
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-3">
                            <h5>Talla:</h5>
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-4">
                            <h5>Talla:</h5>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">+</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">-</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-principal mb-2 col-md-7 py-2">Agregar al carrito</button>

                        <button type="submit" class="btn btn-principal mb-2 col-md-2  py-2 offset-2">+</button>
                    </div>

                    <div class="row align-text-center">
                        <div class="card col-md-12" style="align-items: center;">
                            <p>No hay recomendaciones</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p><b> Tipo de entrega: </b></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <p><i> Entrega a domicilio: </i></p>
                        </div>
                        <div class="col-md-5">
                            <p><u> Ver distritos: </u></p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Primero</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">Ultimo</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>