<div class="container-fluid-px-0 text-center">
    <div class="separator col-12 my-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2>Polos</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
</div>