<div class="container-fluid-px-0 text-center">
    <div class="separator col-12 my-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2>Polos</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <form action="" method="POST">
                <ul>
                    <li>Filtros</li>
                    <li>Marca</li>
                    <li>
                        <div>
                            <input type="checkbox" id="celestina">
                            <label for="celestina">Celestina    15</label>
                        </div>
                        <div>
                            <input type="checkbox" id="torsa">
                            <label for="torsa">Torsa    10</label>
                        </div>
                        <div>
                            <input type="checkbox" id="franperu">
                            <label for="franperu">FranPeru    6</label>
                        </div>
                        <div>
                            <input type="checkbox" id="cerezas">
                            <label for="cerezas">cerezas    8</label>
                        </div>
                    </li>

                    <li>Tamaño</li>
                    <li>
                        <div>
                            <input type="checkbox" id="s">
                            <label for="s">S    15</label>
                        </div>
                        <div>
                            <input type="checkbox" id="m">
                            <label for="m">M    10</label>
                        </div>
                        <div>
                            <input type="checkbox" id="l">
                            <label for="l">L    6</label>
                        </div>
                        <div>
                            <input type="checkbox" id="xl">
                            <label for="xl">XL    8</label>
                        </div>
                        <div>
                            <input type="checkbox" id="xxl">
                            <label for="xxl">XXL    8</label>
                        </div>
                    </li>

                    <li>Precio</li>
                    <li>
                        <div>
                            <input type="checkbox" id="s">
                            <label for="s">S    15</label>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-principal">Aplicar</button>
            </form>
        </div>
        <div class="col-12 col-md-10">
            <div class="card card-shop mx-2 text-left">
                <img class="mx-auto p-0" src="images/index/Ropa1.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompas</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
        </div>
    </div>
</div>