<footer class="text-center" style="background: linear-gradient(to right, #E5C1DF, #ADDCF2)">
    <div class="container-fluid my-3">
        <img src="images/footer/icon_facebook.png" alt="Facebook Logo">
        <img src="images/footer/icon_instagram.png" alt="Instagram Logo">
        <img src="images/footer/icon_twitter.png" alt="Twitter Logo">
    </div>

    <div class="container-fluid my-3">
        <p>GRUPO 1 - GESTION DE LA CONFIGURACION DE SOFTWARE</p>
        <p>Universidad Nacional Mayor de San Marcos</p>
    </div>
</footer>