<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand navbar-title" href="/">MM&P</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-2 my-2">
        <a id="sesion" class="nav-link btn btn-principal px-3" href="/ingreso">Iniciar Sesión</a>
      </li>
      <li class="nav-item mx-2 my-2">
        <a id="register" class="nav-link btn btn-principal px-3" href="/registro">Registrate</a>
      </li>
    </ul>
  </div>
</nav>