<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="btn"><img src="images/navbar/boton_desplegable.png" alt=""></button>
	<a class="navbar-brand navbar-title" href="/">MM&P</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<button class="btn input-group-text" style="background-color: white; border-radius: 30px 0 0 30px"><img src="images/navbar/lupa.png" alt=""></button>
				</div>
				<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="¿QUÉ DESEAS BUSCAR?" style="height: 40px; border-radius: 0 30px 30px 0; background-color: #f2f2f2">
			</div>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<img src="images/navbar/navbar_tag.png" alt="Comprar">
				</a>
			</li>
			
			{{#if user}}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="images/navbar/navbar_user.png" alt="Iniciar sesion">
						Perfil
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/perfil" >Perfil</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/salir" >Cerrar sesion</a>
					</div>
				</li>
			{{else}}
				<li class="nav-item">
					<a class="nav-link" href="/ingreso">
						<img src="images/navbar/navbar_user.png" alt="Iniciar sesion">
						Iniciar Sesion
					</a>
				</li>
			{{/if}}
			<li class="nav-item">
				<a class="nav-link" href="#">
					<img src="images/navbar/navbar_car.png" alt="Carrito de compras">
					Carrito de Compras
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<img src="images/navbar/navbar_heart.png" alt="Mis favoritos">
					Mis Favoritos
				</a>
			</li>
		</ul>
	</div>
</nav>